.menu__wrapper-form,
.menu__empty-food-to-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__wrapper-form__input {
  margin: 10px;
  height: 31px;
  width: 88%;
  border-radius: 15px;
  padding: 10px;
}
.category-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.category-button-group > * {
  margin-right: 8px;
  margin-bottom: 8px;
}
.button-choose-category {
  border: none;
  background: orange;
  color: white;
  font-size: medium;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
}
